.collapsible{
    &__title{
        cursor: pointer;
    }
    &__collapse{
        overflow: hidden;
        max-height: 100px;
        transition: all .7s ease-in-out;
        opacity: 1;
        &.closed{
            max-height: 0;
            opacity: 0;
        }
    }
    &__content{
        font-weight: 400;
        font-size: 0.9rem;
        color: $primary-light;
        padding-left: 2rem;
        padding-bottom: .5rem;
        max-width: 20rem;
    }
}