$body-width: 850px;
$tablet-width: 700px;
$nav-height: 3.5rem;

$bg: #f6f6f6;
$primary: #2a4365;
$text: #2d3748;
$text-light: #f7fafc;
$primary-light: lighten($primary,15); //#3a5a86;
$secondary: #bd2a2a;