.page-title{
    h1{
        font-weight: 700;
        font-size: 4rem;
        color: $primary;
        line-height: 1;
        margin: .5rem 0;
        font-family: 'Montserrat', sans-serif;
    }
}